nav {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: var(--main-color);
  color: white;

  h4 {
    color: white;
    font-size: 3.8rem;
  }

  ul {
    display: flex;
    gap: 32px;
    font-family: bri-600;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    li select {
      background: transparent;
      outline: none;
      border: none;
      color: white;
    }
  }

  button {
    width: 19.8rem;
    height: 5.6rem;
  }
}
