.service {
  padding: 80px 98px;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-title {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 740px;
  text-align: center;

  h2 {
    font-size: 6.7rem;
  }
}

.service-items {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 493px;
  box-shadow: 18px 15px 35px #00000017;
  padding: 40px 24px 40px 72px;
  gap: 24px;
  position: relative;
  border-radius: 16px;
}

.service-icon {
  width: 80px;
  height: 80px;
  background-color: var(--main-color);
  border-radius: 24px;
  padding: 16px;
  position: absolute;
  left: -40px;
}

.service-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-size: 2.8rem;
  }

  a {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-family: mulish;
  }
}
